# Ignorar los archivos de compilación
*.o
*.a
*.so
*.out
*.exe

# Ignorar los directorios de construcción
build/
bin/
obj/

# Ignorar el archivo de configuración de VS Code
.vscode/

# Ignorar archivos de sistema de Linux
.DS_Store
*~

# Ignorar archivos de depuración y logs
*.log
*.gdb

# Ignorar archivos temporales de editor
*.swp
*.swo
src/Broker
src/Producer
src/broker
src/c
src/Consumer
src/consumer
src/Consumer
src/log.txt
src/offset.tmp
src/producer
src/log.txt
src/helgrind_output.txt
src/helgrind_outputConsumer.txt
src/broker.pid
src/run_broker.sh
src/run_consumers.sh
src/run_producers.sh
src/broker.pid
